{
  "passPerPreset": true,
  "presets": [{
    "plugins": ["transform-decorators-legacy", "transform-class-properties", "transform-function-bind", "transform-runtime"]
  }, {
    "passPerPreset": false,
    "presets": ["es2015", "stage-0"]
  }]
}
